@font-face {
    font-family: 'Diablo Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Diablo Heavy'), url('../font/DiabloHeavy.woff') format('woff');
}

body {
    margin: 0;
    background-color: #1a1a1d;
    color: #e85a4f;
    font-size: 28px;
    text-align: center;
    font-family: 'Diablo Heavy';
}

h1 {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 4px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    background-image: url("../img/diablo.png");
    background-color: #905923;
    border: 4px solid #be6d1b;
    border-radius: 4px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

.card:hover {
    border: 4px solid #f99e1a;
    filter: brightness(100%);
}

.cardActive {
    width: 100px;
    height: 100px;
    background-image: url("../img/diablo.png");
    border: 4px solid #f99e1a;
    border-radius: 4px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}

.score {
    margin-top: 5px;
    letter-spacing: 2px;
}
